::selection{background:#000;color:#fff;}
*{margin: 0;padding: 0;font-family: arial;}
a{text-decoration: none;}
body{background: #f1f1f1;}
#margin{width: 80%;margin: 0 auto;}

/* INFORMATION */

#information{
    background: #333;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#information ul li{
    list-style: none;
    float: left;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
    color:#ddd;
    padding:0 15px;
}
#information ul li i{
    padding: 0 10px;
    color: #666;
}

/* HEADER */

#header{
    background: #000;
    height: 10vh;
    width: 100%;
}

.title{
    float: left;
}
.title h1{
    text-transform: uppercase;
    font-size: 40px;
}
.title h1 a{
    color:#fff;
    display: block;
    line-height: 10vh;
}

.menu{
    float: right;
}
.menu ul li{
    list-style: none;
    float: left;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
}
.menu ul li a{
    display: block;
    line-height: 10vh;
    color: #ccc;
    padding: 0 15px;
}
.menu ul li a:hover{
    color: orange;
}

/* SLIDER */

#slide{
    position: relative;
    height: 35vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.img{
    position: absolute;
    background-image:url('./img/slider04.jpg');
    background-color: orange;
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    filter: brightness(50%);
    width: 100%;
    height: 100%;
}

.header{
    z-index: 1;
}

.header h1{
    text-transform: uppercase;
    color: #fff;
    font-size: 100px;
}

.header p{
    color: orange;
    text-transform: uppercase;
    font-size: 17px;
    font-weight: bold;
}

/* PAGE */

.page h1{
    text-transform: uppercase;
    font-size: 25px;
    color: #000;
}
.page h1:after{
    content: "";
    display: block;
    width: 3%;
    height: 5px;
    background:orange;
    margin:10px 0;
}

.page p{
    margin:20px 0;
    text-align: justify;
    color:#666;
    font-size:17px;
}

.page button{
    background: none;
    border: 3px solid #000;
    padding: 10px 15px;
    color: #000;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    outline: none;
    transition:all ease-in-out 0.3s;
}
.page button:hover{
    background: #000;
    color: #fff;
    transition:all ease-in-out 0.3s;
}

.page form{
    width:100%;
    margin:20px 0;
}
.page input{
    width: 49.5%;
    padding: 15px 0;
    text-align: center;
    outline:none;
    border:1px solid #ddd;
    font-size:17px;
    text-transform: uppercase;
    color: #999;
    font-weight: bold;
}

.page input[type=time]{
    width: 25%;
    padding: 10px;
    outline: none;
    font-weight: bold;
    font-size: 15px;
    color: #333;
    border: none;
    background:#ddd;
}

.page select{
    width: 27%;
    padding: 10px;
    outline: none;
    cursor: pointer;
    background:#ddd;
    border: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
    color: #333;
}

.page label{
    font-size: 17px;
    text-transform: uppercase;
    font-weight: bold;
    color: #999;
}

/* PAGE DISPLAY */

.pageDisplay{
    display: flex;
    justify-content: center;
    flex-flow: column;
}

/* PAGE ABOUT */

.about{
    height:50vh;
}

/* PAGE SERVICE */

.services{
    height: 100vh;
}

#card{
    display: flex;
    flex-flow: wrap;
    margin:20px 0;
}
.service{
    width: 25%;
    margin: 20px 0;
    text-align: center;
}
.service img{
    width: 50px;
    height: 50px;
    background: orange;
    padding: 15px;
    color: #fff;
}
.service h2{
    margin:20px 0;
    color:#333;
    font-size:20px;
}
.service p{
    color:#999;
    padding:0 15px;
}

/* PAGE AGEND */

.agend{
    height:100vh;
}

/* FOOTER */

.list{
    height: 5vh;
    background: #ddd;
}
.list ul li{
    float: left;
    list-style: none;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
}
.list ul li a{
    display: block;
    line-height: 5vh;
    padding:0 10px;
    display: block;
    color: #666;
}
.list ul li a:hover{
    color: #000;
}

.socialNetworks{
    float: right;
}

.text{
    height: 10vh;
    background: #000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text p{
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
}